body {
    margin: 0;
    height: 100vh; /* Make sure the body takes the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #f0f0f0; /* Optional background color */
}

h1,
p {
    margin: 10px;
}

img {
    max-width: 100%; /* Ensure image doesn't overflow */
    height: auto;
    margin: 10px;
}
